
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a class="btn btn-default"
           href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more »</a>
        @*<btn name="_loadImageButton"
             onkeydown="@{new WorkEducation.Controllers.ArtController().LoadImage();}">
            <text>Load image</text>
        </btn>*@
    </div>
</body>
